body {margin: 50px;}
img {height: 400px;}



article::after{
      content: "";
      display: block;
      position: inherit;
        bottom: 25px;
        left: 0;
      width: 100%;
      max-width: 650px;
      height: 2px;
      background-color: #ccc9c9;
    }

blockquote {
	padding: 0 0 0 30px;
  color: #000;
	line-height: 1.73;
	margin: 0 0 24px;
	border-left: 5px solid #eee;
	border-color: #3bc8a4;
}